<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Modak&family=Monoton&family=Open+Sans&display=swap"
    rel="stylesheet">
  <title>CREAM</title>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="">
      <!-- Conditionally render login or logout links -->
      <div class="logo">
        <a href="/"><img src="/images/logo.png" id="image"></a>
      </div>
      <nav>
        {{#if logged_in}}
        <a href="/profile" style="display:none;">profile</a>
        <button class="btn btn-primary mr-1" id="logout">Log Out</button>
        {{else}}
        <a class="text-light" href="/login"><button class="btn mr-1" id="login">Log In</button></a>
        <a href="/signup"><button class="btn bg-light" id="signup">Sign Up</button></a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/login.js"></script>
  <script src="/js/signup.js"></script>
</body>

</html>