<section class="container">
  <div class="row">
    <div class="" id="truckinfo">
      <h2>ICE CREAM TRUCKS</h2>
      <div class="accordion" id="truckAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              THE COMFY CONE
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#truckAccordion" style="">
            <div class="accordion-body">
              <strong></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>