<section>
  <img src="/images/logo.png">
  <div class="row">
    <div class="" id="truckinfo">
      <h2>ICE CREAM TRUCKS</h2>
      <div class="accordion" id="truckAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              THE COMFY CONE
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#truckAccordion" style="">
            <div class="accordion-body">
              <strong>Crystal Springs Picnic Area, </strong>4659 Crystal Springs Dr, Los Angeles, CA 90027, <strong>ETA:
                11:00 AM</strong><br><strong>Rio De Los Angeles State Park, </strong>41900 N San Fernando Rd, Los
              Angeles, CA 90065, <strong>ETA: 12:30 PM</strong><br><strong>Los Angeles State Historic Park,
              </strong>1245 N Spring St, Los Angeles, CA 90012, <strong>ETA: 2:00 PM</strong><br><strong>MacArthur Park,
              </strong>2230 W 6th St, Los Angeles, CA 90057, <strong>ETA: 4:00 PM</strong><br><strong>Lafayette Park,
              </strong>5077006901, Los Angeles, CA 90005, <strong>ETA: 5:30 PM</strong>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              TEAM CREAM
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#truckAccordion" style="">
            <div class="accordion-body">
              <strong>Hollywood Forever Cemetery, </strong>6000 Santa Monica Blvd, Los Angeles, CA 90038, <strong>ETA:
                10:00 AM</strong><br><strong>Hancock Park, </strong>5800 Block of Wilshire Blvd, Miracle Mile, Los
              Angeles, CA <strong>ETA: 11:30 AM</strong><br><strong>Poinsettia Recreation Center, </strong>7341
              Willoughby Ave, Los Angeles, CA 90046, <strong>ETA: 1:00 PM</strong><br><strong>Playground Pavilion,
              </strong>South La Brea Ave, <strong>ETA: 2:30 PM</strong><br><strong>Fairfax High School, </strong>7850
              Melrose Ave, Los Angeles, CA 90046, <strong>ETA: 3:30 PM</strong>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              JEALOUS GELATO
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#truckAccordion" style="">
            <div class="accordion-body">
              <strong>The Los Angeles Country Club, </strong>10101 Wilshire Blvd, Los Angeles, CA, 90024, <strong>ETA:
                11:30 AM</strong><br><strong>Santa Monica Pier, </strong>200 Santa Monica Pier, Santa Monica, CA
              90401, <strong>ETA: 12:30 PM</strong><br><strong>Venice Beach, </strong>Venice, CA 90261, <strong>ETA:
                2:00 PM</strong><br><strong>Santa Monica College, </strong>1900 Pico Blvd, Santa Moncia, CA 90401,
              <strong>ETA: 3:30 PM</strong><br><strong>Burton Chase Park, </strong>13650 Mindanao Way, Marina Del Rey,
              CA 90292, <strong>ETA: 5:00 PM</strong>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              STICKY FINGERS
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#truckAccordion" style="">
            <div class="accordion-body">
              <strong>Playa Del Rey Beach, </strong>7313-7351 S Marine Ave, Playa Del Rey, CA 90263, <strong>ETA:
                10:00 AM</strong><br><strong>Fox Hills Park, </strong>Green Valley Cir and Buckingham Pkwy, Culver
              City, CA 90230, <strong>ETA: 12:00 PM</strong><br><strong>Kenneth Hahn State Recreation Area,
              </strong>4100 S La Cienega Blvd, Los Angeles, CA 90056, <strong>ETA: 2:00 PM</strong><br><strong>Los
                Angeles County Museum of Art, </strong>5905 Wilshire Blvd, Los Angeles, CA 90036, <strong>ETA: 3:00
                PM</strong><br><strong>UCLA, </strong>Los Angeles, CA 90095, <strong>ETA: 4:30 PM</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  </div>
</section>