<section class="container">
  {{!-- Customer Sign Up --}}
  <div class="row">
    <form class="col form business-signup-form">
      <h3>Sign Up as Business Owner</h3>
      <div class="form-group d-flex flex-column d-flex flex-column">
        <label for="business-name-signup">Business Name:</label>
        <input class="form-input" type="text" id="business-name-signup" />
      </div>
      <div class="form-group d-flex flex-column d-flex flex-column">
        <label for="name-signup">Driver's Name:</label>
        <input class="form-input" type="text" id="driver-name-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="company-email-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="company-password-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <button class="btn btn-primary" type="submit" id="login">SIGN UP</button>
      </div>
    </form>
    {{!-- Business Owner Sign Up --}}
    <div class="col d-flex" style="">
      <div class="vr" style="width: 2px; color: black"></div>
    </div>
    <form class="col form signup-form">
      <h3>Sign Up as Customer</h3>
      <div class="form-group d-flex flex-column">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <button class="btn btn-primary" type="submit" id="login">SIGN UP</button>
      </div>
    </form>
  </div>
</section>