:root {
    --lightblue: #e3f2fd;
    --blue: #bbdefb;
    --darkblue: #90caf9;
    --darkestblue: #64b5f6;
    --shadowblue: #0d47a1;
    --lightyellow: #fff9c4;
    --yellow: #fff59d;
    --darkyellow: #fff176;
    --sunshadowyellow: #fdd835;
    --icecreampink: #f48fb1;
    --coneorange: #ffd180;
}

* {
display: flexbox;
font-family: 'Kanit', medium;
/* font-family: 'Open Sans', sans-serif; */
background-color: var(--darkblue);
color: var(--icecreampink);
justify-content: center;
font-weight: lighter;
}

#image {
  width: 100%;
  max-width: 99%;
  height: auto;
}
#truckinfo.col-md-6 {
  background-color: white;
  border:#4a4a4a;
  border-width: 2px;
}
.col-md-3 {
  flex-direction: column;
}


accordian-item {
  background-color: white;
}
accordian-body {
  background-color: white;
}

.btn {
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 0px 3px 0px #4a4a4a;
  background-color: white;
}

strong {
  background-color: var(white);
}


/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: var(--darkblue);
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: var(--darkblue);
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color:var(--darkblue);
    }
  }
  




